{% extends 'base.html' %}
{% block title %}Отчёты{% endblock title %}

{% block menu %}
<li class="nav-item nav-link"><button class="btn btn-outline-success" id="exportButton">Экспорт в Excel</button></li>
<!-- <li class="nav-item nav-link"><button class="btn btn-outline-success" id="submitCount" type="">Подсчёт</button></li> -->
{% endblock menu %}


{% block content %}
<div id="tableContainer">
    <div class="progress" id="progressBarTable">
      </div>
      <div class="container">
        <table id="myTable" style="max-width: 100%;">
            <thead id="headerRow"></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock content %}