.search-results {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 370px;
}

.search-result {
    padding: 8px;
    cursor: pointer;
}

.search-result:hover {
    background-color: #f0f0f0;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.auth-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.auth-box h2 {
    margin-bottom: 20px;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

.auth-links {
    margin-top: 10px;
    font-size: 14px;
}

.auth-links a {
    color: #4CAF50;
    text-decoration: none;
}

.auth-links a:hover {
    text-decoration: underline;
}


body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #4F81BD;
    color: white;
}

tr:nth-child(even) {
    background-color: #DCE6F1;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.highlight-red {
    background-color: #FF0000;
}

.highlight-yellow {
    background-color: #F9C01A;
}

.highlight-purple {
    background-color: #E535FD;
}

.highlight-blue {
    background-color: #34A7FE;
}

.highlight-gradient-blue {
    background: linear-gradient(90deg, rgba(229,53,253,1) 0%,  rgb(239, 235, 240) 50%, rgba(52,167,254,1) 100%);
}

.highlight-siny{
    background-color: #002060;
}


#formSearch {
    position: relative;
}

#search-input {
    margin-bottom: 0;
}

#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1021;
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;  /* Enable scrolling if content overflows */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.search-result{
    z-index: 2;
}

.headerRow {
    position: sticky;
    top: 0;
    z-index: 1;
  }


.test{
    background-color: #DCE6F1;
    background-color: #34A7FE;
}


.container {
    overflow: auto;  
    max-width: 100%;
    max-height: 75%;   
    white-space: nowrap;  
}

#myTable {
    width: 100%;  
    max-width: 100%;  
    table-layout: auto;  
} 

/* Стили для сообщений */
p.success, p.warning, p.error {
    max-width: 600px;
    text-align: center;
    margin: 0 auto 20px auto; /* Центрируем и добавляем отступ снизу */
    padding: 10px;
    font-weight: bold;
}

/* Стили для ошибок формы */
ul.errorlist {
    list-style: none;
    padding: 10px;
    margin: 0 0 20px 0;
    color: white;
    background-color: #d65f5f;
    border: 3px solid #970a0a;
    border-radius: 15px;
    font-weight: bold;
}

ul.errorlist li {
    margin-bottom: 5px;
}

/* Для consistency (если кнопка перекрывается) */
button {
    margin-top: 10px;
}

.test_color{
    background-color: #00B050;
    color: #A25555;
}

.warning{
    background-color: #DAC10F;
    border: 3px solid #E9AF01 ;
    border-radius: 15px;
}

.success{
    background-color: #5fd66f;
    border: 3px solid #21970a ;
    border-radius: 15px;
}

.error{
    background-color: #d65f5f;
    border: 3px solid #970a0a ;
    border-radius: 15px;
}

.dropdown-menu {
    z-index: 1050; /* Обеспечиваем перекрытие sticky-top */
}

/* test */

