{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static '/media/favicon.svg' %}" rel="icon" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">

</head>
<body>
<div class="auth-container">

    <div class="auth-box">
        <h2>Авторизация</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Введите логин" name="username" required>
            <input type="password" placeholder="Введите пароль" name="password" required>
            <button type="submit" class="login-button">Войти</button>
        </form>
        <div class="auth-links">
        </div>
    </div>
</div>


<script src="{% static 'js/script.js' %}"></script>
</body>

</html>